@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #f4f6f8;
    color: #1b1b1b;
    
}

.toggle-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 200px;
}

.toggle {
visibility: hidden;
}

.label {
    background-color: #d0d0d0;
    border-radius: 3.125rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 80px;
    height: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

.toggle:checked + .label {
    background-color: #ff5100;
}

.ball {
    background-color: #666666;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    align-items: center;
    justify-content: center;
}

@keyframes slideOn {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(20px) scale(1.2);
    }
    100% {
        transform: translateX(40px) scale(1);
    }
}
